body {
    font-family: 'Open Sans', sans-serif;
}


/*================================== nav ================================== */


#name-span {
    color: #FD6E0A;
}

.name {
    font-size: 45px;
    font-weight: 800;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    /* padding: 0 150px; */
    margin: 0 150px;
}

nav>ul {
    display: flex;
    float: right;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}


/* ================================= button ====================================  */
.btn-primary {
    margin-right: 20px;
    /* width: 90px; */
    height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    border: none;
    /* box-shadow: 5px 5px 10px gray; */
    font-size: 15px;
    font-weight: 500;
}

.btn-two {
    height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #FD6E0A;
    font-size: 15px;
    font-weight: 500;
    background-color: #FFF8F3;
    border: 1px solid #FD6E0A;
}

.btn-download{
    text-align: center;
    margin: 50px 0;
}
.submit{
    width: 85px !important;

}
/* ====================== header ================================= */

header {
    background-color: #FFF8F3;
}

.banner {
    /* border: 1px solid; */
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    background-image: url(images/header_bg.png) , url(images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left bottom;
    justify-content: space-between;
    background-size: auto 440px, auto 750px;
}

.banner .banner-pic {
    width: 500px;
    height: 574px;
}

.dev-name {
    font-size: 60px;
    margin: 0;
    font-weight: 700;
}

.banner-hi {
    margin: 0;
    font-weight: 600;
    font-size: 38px;
}

.banner-contain {
    width: 500px;
}

/* ===================================== main ============================ */
main {
    max-width: 1140px;
    margin: auto;
}

.about {
    text-align: center;
    padding: 110px;
    margin: 110px 0;
    background-color: #FFF8F3;

}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-description {
    margin: 0;
}

.about-info {
    text-align: center;
}

/* ========================================================== */

.section-titel {
    text-align: center;
}

.section-description {
    text-align: center;
    padding: 30px 110px;
}

.skills-container {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.skill {
    width: 225px;
    padding: 25px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}
.experience{
    margin-bottom:70px;
}

/* ====================== resume ==================== */

.resume-container{
    display: flex;
    gap: 60px;
}
.resume-item{
    border-bottom: 1px solid #D1D1D1;
}
.resume-column{
    padding: 25px;
}
.resume-item-insution{
    font-weight: 500;
}
.resume-colmun-titel{
    font-size: 25px;
}
.section-titel{
    font-size: 30px;
    margin: 50px 0;
}

/* ===================== footer ==================== */

.footer-section{
    display: flex;
    background-color:#FFF8F3;
    padding: 110px 195px ;
    gap: 100px;
    justify-content: space-around;
}
.footer-column{
    width: 50%;
}
.footer-column-titel{
    font-weight: 30px;
}
.social-links > a{
    padding-right: 15px;
}
.contact input textarea{
    display: block;

}
.contact > input{
    width: 390px;
    height: 50px;
    margin: 10px 0;
    padding: 0 10px;
    border: none;
}
textarea{
    width: 390px;
    padding: 10px 10px;
    height: 150px;
    resize: none;
}